/* global */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.container {
  width: 80%;
  margin: 2em auto;
}

/* search bar */

.search-container {
  display: flex;
  justify-content: space-between;
  background-color: #b3e0ff;
  padding: 1em 2em;
  align-items: center;
}
.input-box {
  width: 370px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.suggestion {
  position: absolute;
  left: 0;
  top: 120%;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.row {
  background: #fff;
  padding: 0.2em 0.5em;
  border-bottom: 0.5px solid rgb(196, 194, 194);
}

.row:hover {
  background: #ccebff;
  cursor: pointer;
}

.input-box input {
  border: none;
  width: 100%;
  font-size: 1.2em;
  padding: 0.4em 0.8em;
}

.input-box input:focus {
  outline: none;
  border: 1px #0099ff solid;
}

form {
  display: flex;
}

.search-btn {
  cursor: pointer;
  font-size: 1.2em;
  border: none;
  padding: 0.4em 0.6em;
  display: grid;
  place-items: center;
  background: #fff;
  color: #0099ff;
  transition: 0.3s;
}

.search-btn:hover {
  background: #0099ff;
  color: #fff;
}

/* cards */

.placeholder {
  padding: 1em;
  width: 100%;
  height: 77vh;
  display: grid;
  place-items: center;
  text-align: center;
  font-size: 1.3em;
  color: rgb(121, 119, 119);
}

.cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(420px, 1fr));
  gap: 2em;
  place-content: center;
  padding: 2em;
}

.card {
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-image {
  height: 300px;
  min-width: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  border-right: 1px solid rgb(151, 151, 151);
  display: grid;
  place-items: center;
  font-size: 3em;
  color: rgb(173, 173, 173);
}

.card-description {
  padding: 2em 2em;
  max-height: 300px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 10;
  -webkit-box-orient: vertical;
}

.card-description h4 {
  margin-bottom: 1em;
  text-align: center;
}

.show-description {
  color: #0099ff;
  cursor: pointer;
}

/* footer */

.footer {
  width: 100%;
  background: #e6f5ff;
  text-align: center;
  padding: 1em 0;
}

@media only screen and (max-width: 600px) {
  .container {
    width: 100%;
    padding: 2em 1em;
  }

  .search-container h1 {
    display: none;
  }

  .search-container {
    justify-content: flex-start;
  }

  .card {
    flex-direction: column;
    width: 300px;
    margin: 0 auto;
  }

  .cards-grid {
    display: flex;
    flex-direction: column;
  }

  .card-image {
    height: 350px;
    background-position: center;
    border-right: none;
    border-bottom: 1px solid rgb(151, 151, 151);
  }

  .card-description {
    display: block;
    max-height: unset;
  }

  .book-description {
    margin-bottom: 1em;
  }
}
